:root {
    --olive: #898E15;
    --lime: #D3FDCD;

    --blue: #3D86C7;
    --babyblue: #B7EBF7;

    --light: #dcdcdc;
    --medium: #CFCFCF;
    --gray: #85867E;

    --framboise: #5A0834;
    --pink: #FF4DFB;

    --white: #f9f9f9;
    --black: #1B0905;

    --text-xs: 0.7em;
    --text-sm: 1em;
    --text-regular: 1.3em;
    --text-medium: 1.7em;
    --text-large: 8.5em;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'body';
    src: url(body.woff);
}

@font-face {
    font-family: 'heading';
    src: url(heading.otf) format('opentype');
}


body {
    margin: 0;
    font-size: 14px;
    font-family: 'body', sans-serif;
    background: #f9f9f9;
    color: var(--black);
    transition: color 2s ease, background 2s ease;
    overflow-x: hidden;
}

body.theme-pink {
    background: var(--pink);
    color: var(--light);
}

body.theme-purple {
    background: var(--framboise);
    color: var(--pink);
}

body.theme-yellow {
    background: var(--olive);
    color: var(--white);
}

body.theme-blue {
    background: var(--blue);
    color: var(--babyblue);
}

body.theme-gray {
    background: var(--gray);
    color: var(--medium);
}

h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
    font-family: 'heading', sans-serif;
    font-weight: normal;
}

p {
    padding: 0;
    margin: 0;
}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

address {
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

a {
    position: relative;
}

button {
    padding: unset;
    border: unset;
    background: none;
    color: currentColor;
    font-family: 'body';
}

header nav a.active::before,
header nav a:hover::before {
    content: '';
    position: absolute;
    left: -0.6em;
    top: 0.7em;
    transform: translateY(-50%);
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
    background: currentColor;
}